@import url('https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,300;1,400&family=Quicksand:wght@300&family=Sacramento&family=Zeyada&display=swap');

*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.navbar{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  line-height: 26px;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px rgb(234, 226, 226);
  border-bottom: solid rgb(214, 201, 201) !important;
}

.navbar.bg-body-tertiary {
  background-color: black !important;
}

.nav-link {
  font-weight: 300 !important;
  color: azure;
}

.nav-link.active {
  color: rgb(112, 112, 112) !important;
}

.navbar-brand {
  color: azure;
  font-size: 23px;
  font-weight: 500;
  font-family: 'Sacramento', cursive;
}

.navbar-brand.active{
  color:rgb(255, 255, 255) !important;
}

.container-fluid{
  background-color: black;
}

.header {
  background-color: black;
  border: none;
  margin: 0;
}

.nav-link:hover {
  color: gray;
}

.navbar-brand:hover {
  color: gray;
}

/* footer */

.footer {
  color: white;
  padding: 20px;
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); 
  background: linear-gradient(to bottom, #434343, #000000);
}

.text-center{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.footer a:hover {
  color: #767474;
}


/* page not found css */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}


/* contact us */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}